body {
	background-image: url("../images/lb.jpg");
	background-size: cover;
}
.login-form{
	background-color: rgba(66, 135, 245,0.5);
	text-align: center;
	padding: 30px;
	max-width: 350px;
	margin:auto;
	margin-top: 20px;
	
}
.login-form h1{
	margin-top:0;
	margin-bottom:20px;
	font-size:22px;
	color: #00cfde;
}
.login-form input{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.login-form button{
	display:block;
	width:130px;
	margin:auto;
}

.logoslika{
 
}

.Register{
	background-color: rgba(255, 24, 8,0.9);
	padding: 8px;
	text-decoration: none;
	
	position: absolute;
	margin-top: 20%;


}

